:root {
    --yellow: #EABB55;
    --orange: #CB6E4F;
    --black: #14120e;
}

*{
    font-family: 'Amaranth', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Varela Round', sans-serif;
    
    color: #fff;
}
body {
    margin: 0%;
    background-color: var(--black);
}
h1 {
    font-size: 50px;
    text-align: center;
}
h3 {
    margin: 5px;
    text-align: center;
}

#banner {
    position: relative;
    top: 10vh;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 65vh;
    overflow: hidden;
    border-bottom: solid 10px var(--yellow);
    box-shadow: 0px 0px 100px var(--yellow);
}
#banner * {
    color: #000;

}
.bgBanner {
    z-index: -1;
    position: absolute;
    min-width: 100vw;
    right: 0%;
    top: 0px;
}
.pfp {
    box-shadow: 0px 0px 30px var(--orange);
    height: 80%;
    border-radius: 50%;
    margin: 0px 30px;
}
#banner h1 {
    font-size: 50px;
}

#navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    position: fixed;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #EABB55;
    z-index: 10;
}

#navbar ul {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: end;
}

#navbar ul li {
    min-width: 5%;
    max-width: 20%;
    margin: 0px 25px;
    text-align: center;
    color: #fff;
}

#navbar a {
    font-size: 15px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

#homebtn {
    margin: 16px;
    width: 10%;
    font-weight: bold;
}

#navbar a:hover,
#homebtn:hover {
    transform: scale(110%);
    border-bottom: #fff solid 3px;
    color: #fff;
    transition: 0.3s;
}

.main {
    margin: 85px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

    .whoami {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .whoami p {
        font-size: 18px;
        letter-spacing: 1px;
        word-spacing: 3.5px;
        line-height: 25px;
        text-align: justify;
    }

    #draws {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    #obras {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .draw {
        height: 70vh;
        list-style: none;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s;
    }
    .draw button {
        background: none;
        border-radius: 20px;
        border: none;
        height: 100%;
        padding: 0px 12px;

    }
    .draw img {
        border-radius: 10px;
        height: 55vh;
    }
    .draw p {
        margin: 2px;
        font-size: 15px;
    }
    .draw:hover{
        filter: brightness(50%);
        transition: 0.3s;
    }

    #recommendations {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #recomes {
        position: relative;
        margin: 0%;
        width: 100%;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scrollbar-width: 0;
        scroll-behavior: smooth;
    }
    .recom {
        position: relative;
        width: 18vw;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .recom img {
        width: 100%;
        border-radius: 50%;
    }
    .recom p {
        margin: 5px;
    }
    .recom a {
        text-decoration: underline solid #fff;
    }

footer {
    background-color: var(--yellow);
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: start;
}
footer ul {
    margin: 0%;
    padding: 0%;
}
footer ul li {
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    width: 100%;
}
footer ul li i {
    font-size: 30px;
    margin-right: 10px;
}
footer ul li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}